<header>
  <div style=" background: url() ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;
        text-align: center;
        font-family: 'Roboto'">
        <h2 style="color:#191919; margin-top: 100px;">Perfect! You will notified when the premium version is ready! 🎉</h2>
        <p style="color:grey; font-size: 19px;">You can go on and use the Regular version for now..</p><br><br>

      <a href="/" style="border-radius: 10px; color: white; text-decoration: none; padding:10px; font-size: 16px;" class="btn btn-success">Go back to homepage</a>


    </div>
</header>