<header>
  <div style=" background: url() ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;
        text-align: center;
        font-family: 'Roboto'">
        <h2 style="color:#191919; margin-top: 100px; margin-bottom: 40px;">Sorry to see you go.. 😢</h2>
        <p style="color:grey; font-size: 19px;">I have deleted your account and GitHub Gardener will not commit any more to your GitHub account</p>
    </div>
</header>