<header>
  <div style=" background: url() ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;
        color: #fff;
        text-align: center;
        font-family: 'Roboto'">
    <img src="https://i.imgur.com/VsM2haI.png" style="height: 250px; margin-top: 50px;">
      <p style="margin-top:30px; color: green; font-size: 50px;">GitHub Gardener</p>
      <p style="margin-bottom:30px; color: #696969; font-size: 18px;">Daily, automated commits that magically turn your GitHub green</p>
      <a target="_blank" href="https://github.com/alexandersideris/make-my-github-green" class="btn btn-default" style="border-radius: 10px; border-color: #424242; color: black; text-decoration: none; padding:10px; font-size: 16px; margin-right:10px; margin-bottom: 10px;"><span class="glyphicon glyphicon-eye-open"></span> View Code on GitHub</a>
      <a href="/signup" style="border-radius: 10px; color: white; text-decoration: none; padding:10px; font-size: 16px; margin-bottom: 10px;" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> Sign Up with GitHub</a>
      
  </div>

</header>

<div id="howdoesitwork" style="text-align: center; font-family: 'Roboto'; margin-top: 80px;">

  <h2 style="margin-bottom:50px;">Watch your GitHub magically turn green</h2>
  <div class="row">
    <div class="col col-md-2"></div>
    <div class="col col-md-8">
      <img src="https://raw.githubusercontent.com/maelsan/faker-push/master/medias/green.png?token=AGyZ7Ob2A7OTZS1TMZLvCGZdxNS1TM4Cks5XeXVYwA%3D%3D" style="width: 100%; margin:auto;"/>
    </div>
    <div class="col col-md-2">
    </div>
  </div>

  <h2 style="margin-top:100px; margin-bottom: 75px;">How does it work?</h2>
  <p style="font-size: 18px; margin:40px;"><span style="color:#5cb85c;">1) </span>When you sign up, GitHub Gardener will create a new repository for you</p>
  <p style="font-size: 18px; margin:40px;"><span style="color:#5cb85c;">2) </span>GitHub Gardener will commit to the new repository a random number of times daily</p>
  <p style="font-size: 18px; margin:40px;"><span style="color:#5cb85c;">3) </span>Watch your GitHub turn green over the span of a year</p>

</div>

<div id="open_source" style="text-align: center; font-family: 'Roboto'">

  <h2 style="margin-top:100px; margin-bottom: 50px;">Open Source</h2>
  <div class="row">
    <div class="col col-md-2"></div>
    <div class="col col-md-8">
      <img src="https://i.imgur.com/ydxPRlR.png" style="height:150px; margin:auto;"/>
    </div>
    <div class="col col-md-2">
    </div>
  </div>
  <a target="_blank" href="https://github.com/alexandersideris/make-my-github-green" class="btn btn-default" style="border-radius: 10px; border-color: #424242; color: black; text-decoration: none; padding:10px; font-size: 16px; margin-right:10px; margin-top: 40px;"><span class="glyphicon glyphicon-eye-open"></span> View Code on GitHub</a>
  <p style="font-size: 18px; margin:40px;">While building GitHub Gardener, I found that I needed full read and write access to the user's public repos</p>
  <p style="font-size: 18px; margin:40px;">I understand that it might be too much to ask for, given that it is a very simple service</p>
  <p style="font-size: 18px; margin:40px;">In order to create a sense of security and show my pure intentions, I decided to open source it</p>

</div>

<div id="built_in_the_open" style="text-align: center; font-family: 'Roboto'">

  <h2 style="margin-top:100px; margin-bottom: 50px;">Built in the Open</h2>
  <div class="row">
    <div class="col col-md-2"></div>
    <div class="col col-md-8">
      <img src="https://i.imgur.com/ZpQ2T2Y.png" style="height:150px; margin:auto;"/>
    </div>
    <div class="col col-md-2">
    </div>
  </div>
  <a target="_blank" href="https://twitter.com/alexsideris_/status/993523095708332032" class="btn btn-default" style="border-radius: 10px; border-color: #424242; color: black; text-decoration: none; padding:10px; font-size: 16px; margin-right:10px; margin-top: 40px;"><span class="glyphicon glyphicon-eye-open"></span> View Story on Twitter</a>
  <a target="_blank" href="https://wip.chat/products/1367" class="btn btn-default" style="border-radius: 10px; border-color: #424242; color: black; text-decoration: none; padding:10px; font-size: 16px; margin-right:10px; margin-top: 40px;"><span class="glyphicon glyphicon-eye-open"></span> View Progress on WIP</a>
  <p style="font-size: 18px; margin:40px;">The complete story, from idea conception to launch can be found on a single twitter thread</p>
  <p style="font-size: 18px; margin:40px;">You can also view all my public todos on WIP</p>

</div>

<div id="pricing" style="margin-top: 100px; text-align: center; margin-bottom: 400px;">
  <h2 style="margin-bottom: 75px;">Pricing</h2>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" style="padding:33px; text-align: center; margin-bottom: 100px;">
      <div class="card h-100" style="-moz-border-radius: 6px; 
 border-radius: 16px; border-color: grey; border-width: 1px;">

        <div class="card-body" style="height:300px;">
          <h4 class="card-title" style="margin-top: 10px; margin-bottom: 30px;">
            <p style="color: #191919; font-size: 32px;"><img src="https://png.icons8.com/color/1600/person-male.png" style="height:40px;" /><b> Regular</b></p>
          </h4>
          <hr>
          <p style="font-size: 20px;"><b>Free</b></p>
          <hr>                   
          <p style="color: grey;" class="card-text">Just a regular guy</p>
          <p style="font-size: 16px;"><b>Features</b></p>
          <ul>
            <li>
              <p style="font-size: 14px; color:#191919">
              Standard repository name
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              A repository with a README file
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              0 to 7 commits per day
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              Basic commits and commit messages
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              All commits happen at the same time
              </p>
            </li>
          </ul>
          <a href="/signup" style="border-radius: 10px; color: white; text-decoration: none; font-size: 16px; width:80%; margin-top: 20px;" class="btn btn-success"></span> Subscribe</a>
        </div>
                            
                            
      </div>
    </div>
    <div class="col-lg-4" style="padding:33px; text-align: center; margin-bottom: 100px;">
      <div class="card h-100" style="">

        <div class="card-body" style="height:300px;">
          <h4 class="card-title" style="margin-top: 10px; margin-bottom: 30px;">
            <p style="color: #191919; font-size: 32px;"><img src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/soldier.png" style="height:40px;" /><b> Camo</b></p>
          </h4>
          <hr>
          <p style="font-size: 20px;"><b>20 $/year</b></p>
          <hr>                          
          <p style="color: grey;" class="card-text">Wait.. I can't see you</p>
          <p style="font-size: 16px;"><b>Features</b></p>
          <ul>
            <li>
              <p style="font-size: 14px; color:#191919">
              Custom repository name
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              Full blown web app, choose your framework
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              Custom number of commits per day
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              Commits and commit messages are super realistic
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              Commits are spread out throughout the day
              </p>
            </li>
          </ul>
          <a href="/camo" style="border-radius: 10px; color: white; text-decoration: none; font-size: 16px; width:80%; margin-top: 20px;" class="btn btn-success"></span> Subscribe</a>

        </div>
                            
                            
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>