<header>
  <div style=" background: url() ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;
        text-align: center;
        font-family: 'Roboto'">
        <h2 style="color:#191919; margin-top: 100px;">You have successfully signed up for GitHub Gardener! 🎉</h2>
        <p style="color:grey; font-size: 19px;">Now, all you have to do is wait for it to, slowly but surely, turn green..!</p>
        <img src="https://i.imgur.com/VJzmBo9.png" style="height:80px;" />
        
        <div id="pricing" style="margin-top: 120px; text-align: center; margin-bottom: 400px;">
  <p style="color:grey; font-size: 16px;">Don't forget!</p>
        <p style="color:grey; font-size: 16px;">You can always upgrade to Camo!</p>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4" style="padding:33px; text-align: center; margin-bottom: 100px;">
      <div class="card h-100" style="-moz-border-radius: 6px; 
 border-radius: 16px; border-color: grey; border-width: 1px;">

        <div class="card-body" style="height:300px;">
          <h4 class="card-title" style="margin-top: 10px; margin-bottom: 30px;">
            <p style="color: #191919; font-size: 32px;"><img src="https://png.icons8.com/color/1600/person-male.png" style="height:40px;" /><b> Regular</b></p>
          </h4>
          <hr>
          <p style="font-size: 20px;"><b>Free</b></p>
          <hr>                   
          <p style="color: grey;" class="card-text">Just a regular guy</p>
          <p style="font-size: 16px;"><b>Features</b></p>
          <ul>
            <li>
              <p style="font-size: 14px; color:#191919">
              Standard repository name
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              A repository with a README file
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              0 to 7 commits per day
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              Basic commits and commit messages
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              All commits happen at the same time
              </p>
            </li>
          </ul>
          <a href="/signup" style="border-radius: 10px; color: grey; text-decoration: none; border-color:grey; border-width: 1px; font-size: 16px; width:80%; margin-top: 20px;" class="btn" disabled></span> Your current plan</a>

        </div>
                            
                            
      </div>
    </div>
    <div class="col-lg-4" style="padding:33px; text-align: center; margin-bottom: 100px;">
      <div class="card h-100" style="">

        <div class="card-body" style="height:300px;">
          <h4 class="card-title" style="margin-top: 10px; margin-bottom: 30px;">
            <p style="color: #191919; font-size: 32px;"><img src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/soldier.png" style="height:40px;" /><b> Camo</b></p>
          </h4>
          <hr>
          <p style="font-size: 20px;"><b>20 $/year</b></p>
          <hr>                          
          <p style="color: grey;" class="card-text">Wait.. I can't see you</p>
          <p style="font-size: 16px;"><b>Features</b></p>
          <ul>
            <li>
              <p style="font-size: 14px; color:#191919">
              Custom repository name
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              Full blown web app, choose your framework
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              Custom number of commits per day
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              Commits and commit messages are super realistic
              </p>
            </li>
            <li>
              <p style="font-size: 14px; color:#191919">
              Commits are spread out throughout the day
              </p>
            </li>
          </ul>
          <a href="/camo" style="border-radius: 10px; color: white; text-decoration: none; font-size: 16px; width:80%; margin-top: 20px;" class="btn btn-success"></span> Upgrade to Camo</a>

        </div>
                            
                            
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
	<p style="color:grey">I would hate to see you go, but you can unsubscribe from GitHub Gardener by clicking the button below 😢</p>
  	<a href="/delete_account" class="btn btn-danger" style="font-size: 11px;">Delete my account</a>
</div>

</header>